.doneo-text-center {
    text-align: center !important;
}

.doneo-text-left {
    text-align: left !important;
}

.doneo-text-right {
    text-align: right !important;
}

.doneo-cursor-pointer {
    cursor: pointer;
}

/* deny select text (clicking at element) */
th, td, .n-menu, .n-menu-item, .n-tabs-nav {
        user-select: none;
}

.doneo-flex-center-align {
    display: flex;
    align-items: center;
}