.doneo-text-center {
    text-align: center !important;
}

.doneo-text-left {
    text-align: left !important;
}

.doneo-text-right {
    text-align: right !important;
}

.doneo-cursor-pointer {
    cursor: pointer !important;
}

.doneo-cursor-help {
    cursor: help !important;
}

.doneo-cursor-default {
    cursor: default !important;
}

.doneo-disable-opacity {
        opacity: 1 !important;
}

.doneo-disable-user-select {
    user-select: none;
}

.doneo-link-text-color-default {
    color: var(--n-text-color);
}

/* deny select text (clicking at element) */
th, td, .n-menu, .n-menu-item, .n-tabs-nav, .n-notification-container {
        user-select: none;
}

.doneo-flex-center-align {
    display: flex;
    align-items: center;
}

.doneo-table-actions-column {
    width: 1%;
    white-space: nowrap;
    text-align: center !important;
}

.doneo-table-header-click-action th:not(:last-of-type) .n-icon {
    margin-top: 4px;
}
